<footer>
<br />
<br />
<p>
    POKEMON <br />
    Gotta Catch 'Em All'
</p>
<br>
<div class="social-icons">
    <a href="https://github.com/deej-0101" target="_blank" class="icon-link">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://facebook.com/dianejoy.11" target="_blank" class="icon-link">
        <i class="fab fa-facebook"></i>
    <a href="https://instagram.com/deejayyoww" target="_blank" class="icon-link">
        <i class="fab fa-instagram"></i>
    </div>
    <p>
        &copy; 2023 NicanorDJ. All Rights Reserved.
    </p>
</footer>