<!-- pokemon_cards.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- POKEMON CARDS -->
  <section class="pokemon-cards-container">
    <h2>Pokemon Cards</h2>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rarity</th>
          <th>HP</th>
          <th>Type</th>
          <th>Attack</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for card in pokemon_cards %}
          <tr>
            <td>{{ card.name }}</td>
            <td>{{ card.rarity }}</td>
            <td>{{ card.hp }}</td>
            <td>{{ card.card_type }}</td>
            <td>{{ card.attack }}</td>
            <td>{{ card.description }}</td>
            <td>
                <a href="{% url 'edit_pokemon' card.id %}">Edit</a>
                <a href="{% url 'delete_pokemon' card.id %}">Delete</a>
          </td>
            
          </tr>
        {% empty %}
          <tr>
            <td colspan="6" style="text-align: center;">
              <p>No Pokemon Cards Found</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="text-align: center; padding-bottom: 30px;">
        <a href="{% url 'add_pokemon' %}">Add Pokemon Card</a>
      </div>
    {% include 'includes/pagination.html' %}
  </section>
{% endblock %}
